
.btn {
  padding: 10px 22px;
  border: none;
  border-radius: 100px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: var(--color-primary);
  color: var(--color-white);
}

.btn:hover {
  background-color: #e65500; /* thoda darker hover effect */
}
